*,::before,::after{
    margin: 0;
    box-sizing: border-box;
}
a{text-decoration: none;}
img{vertical-align: bottom;}
[disabled]{cursor: not-allowed;}
iframe{border: none;}
button{cursor: pointer;}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
.clear{clear: both;}
.row{margin: 0 -15px;}
.row:after{
    content: ""; clear: both; display: block;
}

body {
	background: linear-gradient(-45deg, #f3497f, #25aee8, #aa1fe0, #dc0909);
	background-size: 4000% 4000%;
	animation: gradient 5s ease infinite;
    color: #000;
    text-transform: capitalize;

    text-shadow: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@font-face{
    font-family: ml;
    src: url(../font/Montserrat-Light.otf);
}

@font-face{
    font-family: mb;
    src: url(../font/Montserrat-Bold.otf);
}

@font-face{
    font-family: mm;
    src: url(../font/Montserrat-Medium.otf);
}

@font-face{
    font-family: mt;
    src: url(../font/Montserrat-Thin.otf);
}
@font-face{
    font-family: mr;
    src: url(../font/Montserrat-Regular.otf);
}

@font-face{
    font-family: ms;
    src: url(../font/Montserrat-SemiBold.otf);
}

@font-face{
    font-family: meb;
    src: url(../font/Montserrat-ExtraBold.otf);
}

@font-face{
    font-family: mbb;
    src: url(../font/Montserrat-Black.otf);
}

@font-face{
    font-family: bnb;
    src: url(../font/BebasNeue-Bold.woff2);
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.ml{font-family: ml, sans-serif;}
.mb{font-family: mb, sans-serif;}
.mm{font-family: mm, sans-serif;}
.mr{font-family: mr, sans-serif;}
.mt{font-family: mt, sans-serif;}
.ms{font-family: ms, sans-serif;}
.meb{font-family: meb, sans-serif;}
.mbb{font-family: mbb, sans-serif;}
.bnb{font-family: bnb, sans-serif;}

h2{text-shadow: 0 2px 5px rebeccapurple , 0 2px 5px rgb(221, 36, 36);}
p{text-shadow: 0 2px 5px rgb(47, 223, 100) , 0 2px 5px rgb(74, 52, 238);}
h3{text-shadow: 0 2px 5px rgb(223, 40, 77) , 0 2px 5px rgb(230, 18, 209);}
h4{text-shadow: 0 2px 5px rgb(4, 220, 195) , 0 2px 5px rgb(53, 241, 46);}

.col-1{width: 8.33%; float: left; padding: 0 15px; min-height: 1px;}
.col-2{width: 16.66%; float: left; padding: 0 15px; min-height: 1px;}
.col-3{width: 25%; float: left; padding: 0 15px; min-height: 1px;}
.col-4{width: 33.33%; float: left; padding: 0 15px; min-height: 1px;}
.col-5{width: 41.66%; float: left; padding: 0 15px; min-height: 1px;}
.col-6{width: 50%; float: left; padding: 0 15px; min-height: 1px;}
.col-7{width: 58.33%; float: left; padding: 0 15px; min-height: 1px;}
.col-8{width: 66.66%; float: left; padding: 0 15px; min-height: 1px;}
.col-9{width: 75%; float: left; padding: 0 15px; min-height: 1px;}
.col-10{width: 83.33%; float: left; padding: 0 15px; min-height: 1px;}
.col-11{width: 91.66%; float: left; padding: 0 15px; min-height: 1px;}
.col-12{width: 100%; float: left; padding: 0 15px; min-height: 1px;}

/* Layout */

.navbar{text-transform: capitalize;}
.navbar a{color: #000; font-size: 1.60em; }
.navbar a h1:hover{color: #f0f0f0;} 
.navbar a h1 {font-size: 1.50em; text-shadow: 0 2px 5px rebeccapurple , 0 2px 5px red;  margin: 20px;}
.navbar a h1{ position: relative; animation-name: example; animation-duration: 4s;}
  
  @keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:500px; top:0px;}
    100% { left:0px; top:0px;}
   
  }
  .navbar  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  .navbar  ul a{font-size: 1.5em; position: relative; animation-name: bv; animation-duration: 6s; top: 28px; text-shadow: 0 2px 2px rgb(3, 85, 75) , 0 2px 2px red;}
  @keyframes bv {
    0%   { left:0px; top:0px;}
    25%  { left:500px; top:0px;}
    100% { left:0px; top:28px;}
   
  }
  .navbar  ul a:hover{color: #fff; text-shadow: 0 2px 3px purple, 0 2px 5px red;}
  .navbar i{display: flex; justify-content: space-between; flex-direction: row; display: inline; margin: 0.5em; position: relative; top: 1.4em; font-size: 0.9em;}
  .navbar i:hover{box-shadow: 0px 1px 2px 0px rgb(0 255 255 / 70%), 1px 2px 4px 0px rgb(0 255 255 / 70%), 2px 4px 8px 0px rgb(0 255 255 / 70%), 2px 4px 16px 0px rgb(0 255 255 / 70%); color: #000; background: transparent;}
  

  .carnival{text-transform: uppercase; text-align: center; height: 62.5em;}
  .carnival h2 {
    font-size:7.56em;
    color:#222222;
    font-weight:normal;
    position: relative; animation-name: bnb; animation-duration: 4s; top: 265px;
    text-shadow: 0 2px 3px purple, 0 2px 5px red;
    

}

@keyframes bnb {
    0%   { left:0px; top:0px;}
    75%  { left:300px; top:0px;}
    100% { left:0px; top:100px;}
  }

.carnival span{
    color:#f9236f;
    position: relative; animation-name: xyz; animation-duration: 4s;
    font-size:7.56em;
    font-weight:normal;
    position: relative; animation-name: bnb; animation-duration: 4s; top: 265px;
    text-shadow: 0 2px 3px rgb(19, 210, 22), 0 2px 5px rgb(89, 0, 255);
    top: 210px;
    left: -30px;
    
}
@keyframes bnb {
    0%   { left:0px; top:0px;}
  
    75%  { left:210px; top:180px;}
    100% { left:0px; top:220px;}
  }

  
.carnival h3{font-size: 4.12em; text-shadow: 0 2px 3px rgb(80, 10, 219), 0 2px 5px rgb(21, 221, 74); margin-top: 2.8em; }
.carnival p{font-size: 1em; margin: 30px;}
.carnival button{background: #f9236f; color: #fff; border: none; width: 10em; height: 3.125em; font-size: 1.25em;text-shadow: 0 2px 3px rgb(40, 246, 242), 0 2px 5px rgb(1, 12, 4);box-shadow: 0px 1px 2px 0px rgba(235, 14, 58, 0.7), 1px 2px 4px 0px rgba(0, 255, 64, 0.7), 2px 4px 8px 0px rgba(81, 0, 255, 0.7), 2px 4px 16px 0px rgba(229, 255, 0, 0.7); position: relative; animation-name: example; animation-duration: 4s;}
.carnival button:hover{background: #000; color: #fff;}
.carnival img{width: 46.5em; position: relative; animation-name: off; animation-duration: 4s;}

@keyframes off {
    0%   { right:0px; top:0px;}
  
    75%  { right:500px; top:0px;}
    100% { right:0px; top:0px;}
  }

  .shipping{text-align: center;}
  .shipping .fear{width: 7.80em; height: 7.80em; border-radius: 50%; background: #fff; position: relative; left: 6.87em; z-index: -1;}
  .shipping .fear span{font-size: 50px; padding-top: 14px; text-shadow: 0 2px 3px rgb(224, 36, 61), 0 2px 5px rgb(0, 200, 255); }

  .discount .near{width: 73.45em; height: 76.25em; border: solid #fff; background: #fff; text-align: center; position: relative; top: -55px; text-transform: capitalize;}
  .discount h2{font-size: 1.87em; margin-top: 3.43em; text-shadow: 0 2px 3px rgb(163, 24, 163), 0 2px 5px rgb(0, 200, 255);}
  .discount p{font-size: 1em; text-shadow: 0 2px 3px rgb(173, 16, 42), 0 2px 5px rgb(223, 223, 30);}
  .discount .new{width: 33.43em; height: 18.43em; border: none transparent; background-image: linear-gradient(to right, #25aee8 25%, #f3497f); position: relative; top: 110px; left: 20px;}
  .discount .new h3{font-size: 3em; margin-top: 1em; text-shadow: 0 2px 3px rgb(12, 221, 12), 0 2px 5px rgb(27, 24, 24);}
  .discount .new span{font-size: 3em; color: #f9236f;position: relative; top: -18px; left: -8px; text-shadow: 0 2px 3px rgb(57, 13, 234), 0 2px 5px rgb(227, 18, 193);}
  .discount .new img{position: absolute; top: 0em; left: 16.87em; height: 270px;}
  .discount .new h4{text-align: left; font-weight: normal; width: 15.5em; font-size: 0.9em; margin-top: -15px; text-shadow: 0 2px 3px rgb(11, 209, 15), 0 2px 5px red;}
  .discount .new button{width: 160px; height: 45px; border: none; background: #f9236f; color: #fff; text-transform: capitalize; font-size: 20.23px; margin-top: 30px; text-shadow: 0 2px 3px rgb(198, 13, 198), 0 2px 5px red;}
  .discount .new button:hover{background: #fff; color: #000;}
  .discount .old{width: 33.43em; height: 18.43em; border: none transparent; background-image: linear-gradient(to right, #23b8f8 25%, #86e997); position: relative; top: 110px; left: 0px;}
  .discount .old h3{font-size: 3em; margin-top: 1em; text-shadow: 0 2px 3px rgb(34, 138, 230), 0 2px 5px rgb(255, 0, 8);}
  .discount .old span{font-size: 3em; color: #f9236f;position: relative; top: -18px; left: -8px; text-shadow: 0 2px 3px rgb(50, 214, 72), 0 2px 5px rgb(209, 44, 44);}
  .discount .old img{position: absolute; top: 0px; left: 16.87em; height: 270px; }
  .discount .old h4{text-align: left; font-weight: normal; width: 15.5em; font-size: 0.9em; margin-top: -15px; text-shadow: 0 2px 3px rgb(147, 237, 50), 0 2px 5px rgb(227, 20, 144);}
  .discount .old button{width: 160px; height: 45px; border: none; background: #f9236f; color: #fff; text-transform: capitalize; font-size: 20.23px; margin-top: 30px; text-shadow: 0 2px 3px rgb(50, 214, 72), 0 2px 5px rgb(209, 44, 44);}
  .discount .old button:hover{background: #fff; color: #000;}
  .discount h5{font-size: 1.61em; margin-top: 8em; text-transform: uppercase; text-shadow: 0 2px 5px rgb(151, 68, 234) , 0 2px 5px rgb(66, 238, 63);}
  .discount h6{font-size: 1em; margin-top: 1em; text-shadow: 0 2px 5px rgb(179, 117, 242) , 0 2px 5px rgb(219, 61, 61);}
  .discount i{color: #ffc808;}
  .discount img{margin-top: 25px; height: 366px;}

  .news h2{font-size: 1.61em; text-align: center;}
  .news p{text-align: center; margin: 20px;}
  .news img{margin-top: 55px; width: 22.81em;}
  .news .me{width: 22.81em; height: 14.68em; border: solid transparent; background: #fff; text-align: left; margin-bottom: 3em;}
  .news .me h3{font-size: 1.12em; margin: 20px;}
  .news .me span{color: #a8a8a8; font-size: 0.93em; position: relative; top: 1em; left: 1.18em;}
  .news .me p{text-align: left;}
  .news .me button{width: 100px; height: 35px; border: none; background: #f9236f; color: #fff; text-transform: capitalize; font-size: 14px; margin-left: 18px; text-shadow: 0 2px 3px rgb(50, 214, 72), 0 2px 5px rgb(209, 44, 44);}
  .news .me button:hover{background: #000; color: #fff;}

  .sale{text-align: center; text-transform: capitalize; }
  .sale .que{width: 73.12em; height: 85em; border: solid transparent; background: #fff; margin-left: 12px;}
  .sale .que h2{margin-top: 4em;}
  .sale .que img{ margin-top:  3.25em;}
  .sale .que h3{font-size: 1.01em;}
  .sale .que h4{font-size: 10.50em;  position: relative; animation-name: abc; animation-duration: 4s; margin-top: 135px;}
  .sale .que h5{font-size: 1.61em; text-shadow: 0 2px 5px rgb(209, 30, 30) , 0 2px 5px rgb(237, 17, 219); position: relative; top: 2.31em;}
  .sale .que p{margin-top: 2em;}
  .sale .que input{width: 33.43em; height: 2.1em; margin-top: 2.5em;}
  .sale .que button{width: 7.3em; height: 2.1em; text-transform: capitalize; background: #f9236f; color: #fff; border: none; margin-left: 0.5em; font-size: 0.85em; text-shadow: 0 2px 3px rgb(56, 30, 227), 0 2px 5px rgb(62, 234, 46);}
  .sale .que button:hover{background: #000; color: #fff;}
  .sale .que i{color: #ffc808;}

  @keyframes abc {
    0%   { left:0px; top:0px;}
    25%  { left:210px; top:0px;}
    50%  { left:0px; top:0px;}
    100% { left:0px; top:0px;}
  }
  
  .footer{text-transform: capitalize; text-align: left;}
  .footer h2{font-size: 1.1em; margin-top: 4em; color: #000;}
  .footer p{color: #000;} 
  .footer span b{font-weight: normal; font-size: 1em; color: #000; text-shadow: 0 2px 3px rgb(232, 12, 19), 0 2px 5px rgb(27, 231, 58); margin-left: 15px;}
  .footer span{padding-top: 2em;}
  .footer  ul {
    list-style: none;
  }
  .footer ul li{margin: 2em;}
  .footer ul li a{font-size: 1em; position: relative; left: -4.6em; color: #000; text-shadow: 0 2px 3px rgb(60, 232, 12), 0 2px 5px rgb(231, 27, 217);}
  .footer ul li a:hover{color: #fff;}
  .footer i{position: relative; top: 0; left: -1em; text-shadow: 0 2px 3px rgb(52, 12, 197), 0 2px 5px rgb(207, 9, 194); margin: 1em;}
  .footer i span{font-size: 1em; text-shadow: 0 2px 3px rgb(232, 12, 19), 0 2px 5px rgb(27, 231, 58); margin-left: 15px;}
  .footer h3{text-align: center; font-size: 0.8em;  text-shadow: 0 2px 3px rgb(9, 234, 73), 0 2px 5px rgb(40, 166, 220);}

  
  


  
 
